<!DOCTYPE html>
<html>
<head>
  <title>ProjectGenesis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

	<% if account_signed_in? %>
      <%#= current_account.username %>
      <%= link_to 'Profile', edit_account_registration_path %>
      <%= link_to('Logout', destroy_account_session_path, class: "logout", :method => :delete) %>
    <% end %>

    <% if library_signed_in? %>
      <%#= current_library.username %>
      <%= link_to 'Profile', edit_library_registration_path %>
      <%= link_to('Logout', destroy_library_session_path, class: "logout", :method => :delete) %>
    <% end %>

    <% if parent_signed_in? %>
      <%#= current_parent.username %>
      <%= link_to 'Profile', edit_account_registration_path %>
      <%= link_to('Logout', destroy_account_session_path, class: "logout", :method => :delete) %>
    <% end %>

    <% if teacher_signed_in? %>
      <%#= current_teacher.username %>
      <%= link_to 'Profile', edit_library_registration_path %>
      <%= link_to('Logout', destroy_library_session_path, class: "logout", :method => :delete) %>
    <% end %>

<%= yield %>

</body>
</html>
